body {
  background-color: #001A42;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: #ffffff;
}

p {
  font-size: 1.5em;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.emphasis {
  font-weight: 600;
}

.main {
  margin-top: 50px;
}

.title {
  margin-top: 50px;
  font-size: 4em;
}

.sub-title {
  font-size: 4em;
}

.body {
  margin-top: 50px;
  line-height: 2em;
  max-width: 50%;
}

.greeting {
  color: #11B5E4;
  line-height: 1.25em;
}

.icons {
  color: #11B5E4;
  margin-right: 10px;
  transition: 0.17s;
}

.icons:hover {
  transform: scale(1.5);
}

.contact {
  border-color: #11B5E4;
  margin-top: 50px;
}
